[Unit]
Description=A google feed to thermal printer, printer
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/node /home/pi/feed-bootstrap/index.js

[Install]
WantedBy=multi-user.target
